/*#test1.winform{
	background-color: #81D4FA;
}
#test1.winform .topbar{
	background: linear-gradient(to bottom, #81D4FA, #29B6F6 );
}
#test1.winform .close{
	background-color: #4DB6AC;
}

#test2.winform{
	background-color: #A1887F;
}
#test2.winform .topbar{
	background-color: #BCAAA4;
}
#test2.winform .close{
	background-color: #90A4AE;
}

#test1.winform .close:hover, #test2.winform .close:hover{
	background-color: #e74856;
}
.content{
	padding: 10px;
}*/

/*#test4 .topbar{
	background: linear-gradient(to bottom, #424242, #212121 );
}
#test4 .controlbox{
	float : left;
}


#test4 .content{
	overflow: auto;
	width: 100%;
	height: 100%;
	padding: 0px;
}
.testiframe iframe{
	width: 100%;
	height: 100%;
}

.testvideo video{
	width: 100%;
	height: 100%;
}*/